<!Doctype html>
<html lang="en">
<head>
    <title>Pizzapplication / PAYMENT SERVER</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="payment.css">
</head>
<body>
<div class="container">
    <h1>Fizetés</h1>
    <div class="content">
        Milyen legyen a fizetés végleges státusza?
        <div class="statuses">
            <button class="status-button">Sikeres</button>
            <button class="status-button">Sikertelen</button>
        </div>
    </div>
</div>
</body>
</html>
