<!Doctype html>
<html lang="en">
<head>
    <title>New Wave / Main</title>
    <link rel="stylesheet" href="main.css">
    <% include('../common-parts/header.ejs') %>
</head>
<body>
<div class="container">
    <div class="text">
        <h1>Hello</h1>
        <p>I am Attila Tóth. Welcome to opening page of my playground project.</p>
        <small>Everything you see here might have been created with either much less or way much much more
            struggle than you would guess. Welcome to the world of New Wave.</small>
    </div>
</div>
</body>
</html>
