<!Doctype html>
<html lang="en">
<head>
    <title>Pizzapplication / PAYMENT SERVER</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="payment.css">
    <script async defer src="payment.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <h1>Fizetés</h1>
    <div class="content">
        Milyen legyen a fizetés végleges státusza?
        <% if (amount > 0) { %>
            <h2>Összeg: <%= amount %> Huf</h2>
        <% } %>
        <div class="statuses">
            <button class="status-button" id="success-button" data-redirect="<%= redirectUri %>">Sikeres</button>
            <button class="status-button" id="failure-button">Sikertelen</button>
        </div>
    </div>
</div>
</body>
</html>
