{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link rel="stylesheet" href="{% static 'css/album.css' %}" >
		<link rel="stylesheet" href="{% static 'css/map.css' %}" >
		<link rel="stylesheet" href="{% static 'css/general-design.css' %}" >
		<title>Pizza - Home</title>
	</head>
	<body>
		{% include 'layouts/navbar.html' %}
		
	<main role="main">
		<div class="container bg-blue text-light">
			<div class="row">
				{% if home_page_detail.main_image %}
					<img class="img-fluid" src="{{ home_page_detail.main_image.url }}" alt="Főoldal kép"/>
				{% else %}
					<img class="img-fluid" src="/media/main_pizza.jpg" alt="Főoldal kép"/>
				{% endif %}			
			</div>
			<div class="row pb-3 mt-3 ml-1">
				<div class="col-6">
					<div class="row"><h3>{% trans "Our pizzeria" %}</h3></div>
						{% if home_page_detail.main_image %}
							<p>
								{{ home_page_detail.description_text }}
							</p>
						{% else %}
							<p>{% trans "Pizza is an Italian food that is now spread throughout the world. It is based on a thin slice of Celtic pasta covered with tomato or sour cream based sauce, topped with various toppings (the most common are vegetables, mushrooms and cold cuts), and the dough is finally sprinkled with grated cheese and baked. Typical spices include oregano and pepperoni. The original Italian pizza is served with mozzarella, basil and olive oil, which may come with additional ingredients." %}</p>
						{% endif %}	
				</div>
				<div class="col-6">
					<div class="row"><h3>{% trans "Map" %}</h3></div>
					<div class="row">
						<div class="mapouter">
							<div class="gmap_canvas">
								{% if home_page_detail.main_image %}
									<iframe width="500" height="260" id="gmap_canvas" src="https://maps.google.com/maps?q={{ home_page_detail.latitude|safe }},{{ home_page_detail.longitude|safe }}&hl=hu;z=14&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
								{% else %}
									<iframe width="500" height="260" id="gmap_canvas" src="https://maps.google.com/maps?q=47.497913,19.040236&hl=hu;z=14&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
								{% endif %}	
								<a href="https://www.embedgooglemap.net/blog/best-wordpress-themes/">embedgooglemap.net</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row pb-3 mt-3 ml-1">
				<div class="rounded row col-12">
					<div class="col-3 text-left">
						<span class="badge badge-pill badge-success">{% trans "On sale" %}</span>					
							{% if home_page_detail.main_image %}
								<img src="{{ home_page_detail.on_sale_pizza_1.url }}" class="card-img" alt="...">
							{% else %}
								<img src="/media/random-pizza.jpg" class="card-img" alt="...">
							{% endif %}	
					</div>
					<div class="col-3 text-left">
						<span class="badge badge-pill badge-success">{% trans "On sale" %}</span>						
							{% if home_page_detail.main_image %}
								<img src="{{ home_page_detail.on_sale_pizza_2.url }}" class="card-img" alt="...">
							{% else %}
								<img src="/media/random-pizza.jpg" class="card-img" alt="...">
							{% endif %}							
					</div>
					<div class="col-3 text-right">
						<span class="badge badge-pill badge-info">{% trans "Recommended" %}</span>					
							{% if home_page_detail.main_image %}
								<img src="{{ home_page_detail.recommended_pizza_1.url }}" class="card-img" alt="...">
							{% else %}
								<img src="/media/random-pizza.jpg" class="card-img" alt="...">
							{% endif %}							
					</div>
					<div class="col-3 text-right">
						<span class="badge badge-pill badge-info">{% trans "Recommended" %}</span>					
							{% if home_page_detail.main_image %}
								<img src="{{ home_page_detail.recommended_pizza_2.url }}" class="card-img" alt="...">
							{% else %}
								<img src="/media/random-pizza.jpg" class="card-img" alt="...">
							{% endif %}							
					</div>
				</div>
			</div>
		</div>
	</main>

		<footer class="text-muted">
			{% include 'layouts/footer.html' %}
		</footer>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
