{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/album.css' %}" >
	<link rel="stylesheet" href="{% static 'css/general-design.css' %}" >
	<title>Pizza - My shopping cart</title>
	
</head>
<body>
    {% include 'layouts/navbar.html' %}
    {% block content %}{% endblock %}
    <main role="main">
        <div class="container bg-blue text-light p-4">
            <div class="row">
            <h2>Your Shopping Cart
            </h2>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Remove</th>
                            <th>Unit Price</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in cart %}
                        {% with product=item.product  %}
                            <tr>
                                <td>{{ product.name }}</td>
                                <td>
                                    <form action="{% url "cart_add" product.id %}" method="post">
                                        {% csrf_token %}
                                        {{ item.update_quantity_form.quantity }}
                                        {{ item.update_quantity_form.update }}
                                        <input type="submit" value="Update" class="btn">
                                    </form>
                                </td>
                                <td>
                                    <a href="{% url "cart_remove" product.id %}">Remove</a>
                                </td>
                                <td>{{ item.price }} HUF</td>
                                <td>{{ item.total_price }} HUF</td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    <tr style="background-color:  #31698B">
                        <td colspan="3"></td>
                        <td><b>Total</b></td>
                        <td colspan="num"><b>{{ cart.get_total_price }} HUF</b></td>
                    </tr>
                    </tbody>
                </table>
            <p class="text-right">
                <a href="{% url "pizzalist" %}" class="btn btn-secondary" style="background-color: green">Continue Shopping</a>
                {% if cart.valid_cart %}
                <a href="https://stripe-payments-demo.appspot.com/" class="btn btn-secondary" style="background-color: green">Checkout</a>
                {% else %}
                <a href="" class="btn btn-secondary" style="background-color: gray">Checkout</a>
                {% endif %}
            </p>
            </div>
        </div>
    </main>
    <footer class="text-muted">
        {% include 'layouts/footer.html' %}
    </footer>
</body>
</html>