{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/album.css' %}">
    <link rel="stylesheet" href="{% static 'css/general-design.css' %}">
    <title>Pizza - My shopping cart</title>

</head>
<body>
{% include 'layouts/navbar.html' %}
{% block content %}{% endblock %}
<main role="main">
    <div class="container bg-blue text-light p-4">
        <div class="row">
            <h2>Sorry, this order didn't go well. :(</h2>
            <h3>Nem volt pénzed te szar!</h3>
        </div>
    </div>
</main>
<footer class="text-muted">
    {% include 'layouts/footer.html' %}
</footer>
</body>
</html>
