# if it is not development, then its production as the elder say
ENVIRONMENT=development
# The port the server is going to run on
HTTP_PORT=9000

# Where should you go after redirection
REDIRECT_URI=app://some-url-here

# Display every request and some info
REQUEST_LOGGING=disable
