{% load i18n %}

<header>
    <link rel="stylesheet" href="../../static/css/accessibility.css">
    <script>
        window.onload= function () {
            var element = document.body;
            var contrastMode = getCookie("contrastMode");
            if(contrastMode !== "true"){
                element.classList.remove("blind-body");
            }else{
                element.classList.add("blind-body");
            }
        }
    </script>
</header>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFF8DC">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-brand {{ home_page }} ">
                <a class="nav-link" href="{% url 'index' %}">{% trans "Home" %} </a>
            </li>
            <li class="navbar-brand">
                <a class="nav-link {{ pizzalist_page }}" href="{% url 'pizzalist' %}">{% trans "Pizzas" %} </a>
            </li>
            {% if user.is_authenticated %}
                <li class=navbar-brand>
                    <a class="nav-link {{ profile_page }}" href="{% url 'profile' %}">{% trans "Profile" %} </a>
                </li>
                <li class="navbar-brand">
                    <a class="nav-link {{ myorders_page }}" href="{% url 'myorders' %}">{% trans "My orders" %} </a>
                </li>
                <li class="navbar-brand"> 
                    <a class="nav-link {{ resetpw_page }}" href="{% url 'password_reset' %}" >{% trans "Reset password" %}</a>
                </li>   
                <li class="navbar-brand">   
                    <a class="nav-link" href="{% url 'logout' %}" >{% trans "Log out" %}</a>
                </li>
            {% else %}
                <li class="navbar-brand">
                    <a class="nav-link {{ signup_page }}" href="{% url 'signup' %}">{% trans "Sign up" %}</a>
                </li>  
                <li class="navbar-brand">
                    <a class="nav-link {{ login_page }}" href="{% url 'login' %}">{% trans "Log in" %}</a>
                </li>
            {% endif %}
            <li class="navbar-brand">
                <a class="nav-link" href="/admin">{% trans "Go to Admin" %}</a>
            </li>
            <li class="navbar-brand dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Contact" %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">{% trans "Follow on Twitter" %}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">{% trans "Like on Facebook" %}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">{% trans "Email me" %}</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li class=navbar-brand">
                    <img type="image" class="accessiblity_logo" onclick="myFunction()" src="../../../media/accessibility/accessibility_logo.png" height="26"
                         width="26" alt="Akadálymentes"/>
            </li>
            {{ MEDIA_ROOT }}
            {% get_current_language as LANGUAGE_CODE %}
            <li class="navbar-brand">
                <a href="{% url "shoppingcart" %}" ><img src="{{ MEDIA_URL }}/cart.png" height="44" width="44"/></a>
            </li>
            <li class="navbar-brand">
                <img src="{{ MEDIA_URL }}/language_flags/{{ LANGUAGE_CODE }}.png" />
            </li>
            <li class="navbar-brand">
            <form action="{% url 'set_language' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ redirect_to }}">
                <div class="form-group">
                    <select name="language" class="form-control" data-role="select-dropdown" onchange="javascript:this.form.submit()">
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                {{ language.name_local }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            </li>
        </ul>
    </div>
</nav>

<script>
    function getCookie(name) {
        var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return v ? v[2] : null;
    }
    function setCookie(name, value, days) {
        var d = new Date;
        d.setTime(d.getTime() + 24*60*60*1000*days);
        document.cookie = name + "=" + value + ";path=/;expires=" + d.toGMTString();
    }
    function myFunction() {
        var element = document.body;
        var contrastMode = getCookie("contrastMode");
        if(contrastMode !== "true"){
            element.classList.add("blind-body");
            setCookie("contrastMode","true",0.15);
        }else{
            element.classList.remove("blind-body");
            setCookie("contrastMode","false",0.15);
        }
    }
</script>
